@use '../../../../styles/scss/Home/partials/forward' as *;
@use '../../../../styles/scss/Home/mixins/intersecionObserverEffects/styles.scss' as
  observer;

#main-title {
  @include observer.appear-from-left();
}

.main-screen__container__texts__title {
  width: 380px;
  font-size: 58px;
  font-weight: $font-weight-emphasis;
  font-family: $font-family-primary;
  line-height: 1.2;

  color: #212121;
}

.main-screen__container__texts__emphasis {
  color: $emphasis-color;
  font-size: 58px;
  font-weight: $font-weight-emphasis;
  font-family: $font-family-primary;
  line-height: 1.2;
}
