// website-background-colors
$background-color-website: #fff;
$background-session-color: #d9ccf8;
$background-session-color-special: #543e6f;

// button-colors-normal
$background-color-normal-button: #52478c;
$text-color-normal-button: #fff;

//buttons-icon-text
$background-button-icon-text: #fff;
$font-button-icon-text: #000;

// button-colors-inverted
$background-color-button-inverted: #fff;
$text-color-button-inverted: #000;
$background-color-button-inverted-hover: #52478c;
$text-color-button-inverted: #fff;

// icon-box-colors
$background-social-color-box: #fff;
$background-social-color-box-hover: #52478c;
$social-color-box: #000;
$social-color-box-hover: #fff;

$background-icon-box: #52478c;
$icon-color-box: #fff;

// Typography Colors
$color-section-title: #52478c;
$subtitle-color: #000;
$subheading-color: #000;
$description-color: #797979;
$text-color-menu: #000;

// Miscellaneous Colors
$emphasis-color: #52478c;
$generic-background-color: #52478c;
