@use '../../../../../styles/scss/Home/mixins/flexContainer/flex.scss' as flex;
@use '../../../../../styles/scss/Home/mixins/intersecionObserverEffects/styles.scss' as
  observer;

#header {
  @include observer.appear();
}

.header-bar {
  width: 100%;
  margin-top: 20px;
  @include flex.flex-container;

  &__inner {
    width: 1150px;
    @include flex.flex-container;
  }
}
