@use '../../styles/scss/Home/partials/forward' as *;

.title-services {
  font-family: $font-family-primary;
  font-weight: $font-weight-semiEmphasis;
  font-size: $font-size-subtitle;

  color: $subtitle-color;
}
