@use '../../../../styles/scss/Home/mixins/flexContainer/flex.scss' as flex;

.ourProducts {
  margin-top: 7%;
  width: 100%;
  @include flex.flex-container();
  flex-direction: column;

  &__title {
    @include flex.flex-container();
    flex-direction: column;
    width: 60%;
    margin-bottom: 1.5%;
  }
}
