@use '../../../../styles/scss/dashboard/mixins/flexContainer.scss' as *;
@use '../../../../styles/scss/dashboard/partials/font' as *;
@use '../../../../styles/scss/dashboard/partials/colors' as *;

.widgetsDashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $hover-effects-background;
    color: $hover-effects-color;
  }

  .iconText {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .icon {
    color: $icons;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
  }

  .text {
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-size: 18px;
    color: $menu-texts;
    transition: color 0.3s ease-in-out;
    line-height: 1;
  }

  .menuIcon {
    font-size: 16px;
    color: $menu-texts;
  }
}
