@use '../../styles/scss/Home/partials/forward' as *;

.subtitle {
  font-size: $font-size-title;
  font-weight: $font-weight-semiEmphasis;
  font-family: $font-family-primary;

  color: $color-section-title;
}
