@use '../../../../styles/scss/Home/mixins/flexContainer/flex.scss' as flex;
@use '../../../../styles/scss/Home/mixins/intersecionObserverEffects/styles.scss' as
  observer;

.services {
  width: 100%;
  @include flex.flex-container();
  flex-direction: column;
  background-image: url('../../../../media/images/background/services-bg.png');

  #services-subtitle {
    @include observer.appear-from-bottom();
  }

  #services-title {
    @include observer.appear-from-bottom();
  }

  #services-container {
    @include observer.appear();
  }

  .services__container {
    width: 80vw;
    @include flex.flex-container();
  }
}
