@use '../../../../styles/scss/Home/partials/forward' as *;

.kindOfServices-container {
  width: 300px;
  margin-top: 60px;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    overflow: hidden;

    &__element {
      width: 250px;
      height: 250px;
      object-fit: contain;
      vertical-align: middle;
      margin: 0;
      padding: 0;
    }
  }

  &__subheading {
    margin-top: 20px;

    &__element {
      color: $subheading-color;
      font-family: $font-family-primary;
      font-weight: $font-weight-semiEmphasis;
      font-size: $font-size-subheading;
      text-align: center;
    }
  }

  &__description {
    color: $description-color-light;
    text-align: center;
    margin-top: 5px;
  }
}
