@use '../../../styles/scss/mixins/buttons/button-style' as btn;
@use '../../../styles/scss/partials/forward' as *;

.container-icon {
  @include btn.flex-button;
  @include btn.all-buttons;

  width: 22px;
  height: 20px;
  padding: 12px;
  font-size: $font-size-icon-button;

  color: $social-color-box;
  background-color: $background-social-color-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px;
  border-radius: 5px;

  &:hover {
    transition: 0.2s ease-in;
    background-color: $background-social-color-box-hover;
    color: $social-color-box-hover;
  }
}
