$background: #fff;
$icons: #4b4b4b; /* Cinza claro para os ícones */
$menu-texts: #4b4b4b; /* Cinza claro para os textos do menu */

$titles: #474747;

$great-background: #5ED032;
$great-text: #26B536;
$bad-background: #FFE7EE;
$bad-texts: #FC185A;

$hover-effects-background: #52478ca2;
$hover-effects-color: #752ec0;

$graphics: #6A11CB;
$graphics-gradient-top: #9620BA;
$graphics-gradient-middle:#B516A8;
$graphics-gradient-bottom: #6A11CB;
